node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
public/storage
storage/app/public/*
public/profile-pics
storage/app/profile-pics
*.log
bootstrap/cache/*
database/database.sqlite
database/*.sqlite*
