fastapi==0.127.0
uvicorn==0.40.0
pandas==2.3.3
numpy==2.3.4
scikit-learn==1.7.2
joblib==1.5.2
pydantic==2.12.4
python-multipart==0.0.6
httpx==0.28.1
python-dotenv==1.0.0
pydantic-settings==2.0.3
starlette==0.50.0
